.App {
  text-align: center;
  padding: 5rem;
  max-width: 960px;
  margin: 0 auto;
}

#map {
  position: static !important;
  width: 200px;
  height: 200px;
  
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}